<section class="list">
  <% @students.each do |student| %>
    <section class="individual-student">
      <p><%= student.name %>: <%= student.professors.length %></p>
    </section>
  <% end %>
</section>
